@media screen and (max-width: 576px) {
   .services-wrapper {
      padding-top: 0;
   }
   .service-image-wrapper {
      padding-top: 2rem;
   }
}

/* Breakpoint */

@media screen and (max-width: 932px) {
   .desktop-header {
      display: none;
   }
   .mobile-header {
      display: flex;
   }
   .m-bn-title {
      font-size: 40px;
      display: block;
   }
   .bn-title {
      display: none;
   }
   .banner-content-wrapper {
      width: 100%;
   }
   .container.our-feature-main-wrapper {
      flex-direction: column;
      padding: 2rem;
   }
   .feature-image-wrapper {
      width: 100%;
   }
   .feature-content-wrapper {
      width: 100%;
   }
   .services-wrapper {
      flex-direction: column;
      padding-bottom: 4rem;
   }
   .service-content-wrapper,
   .service-top-box {
      width: 100%;
   }
   .service-item-wrapper {
      box-sizing: border-box;
      width: 100%;
   }
}
