@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

/* Global style */
body {
   font-family: "Work Sans", sans-serif;
   margin: 0;
   padding: 0;
   color: #131313;
}
img {
   width: 100%;
   border-radius: 7px;
}
a {
   text-decoration: none;
   color: #131313;
}
.container {
   width: 90%;
   margin: auto;
}
.btn {
   background: #ff900e;
   font-size: 18px;
   color: #fff;
   padding: 13px;
   display: inline-block;
   border-radius: 7px;
}
/* Header style */
.hero-wrapper {
   background: rgba(255, 144, 14, 0.1);
   padding: 2rem 0;
}
header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
nav a {
   margin: 0 20px;
}
.banner-content-wrapper {
   width: 50%;
   margin: auto;
   text-align: center;
   padding: 2rem 0;
}
.bn-title {
   font-size: 43px;
}
.banner img {
   width: 90%;
   margin: auto;
   display: block;
}

/* Feature section style */
.feature-image-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.container.our-feature-main-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 7rem 0;
}
.feature-image-wrapper {
   width: 45%;
   grid-gap: 37px;
}
.feature-content-wrapper {
   width: 45%;
}
.feature-image-wrapper img {
   box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.feature-content-wrapper h2 {
   font-size: 33px;
   font-weight: 300;
   color: #727272;
   line-height: 1.4;
}
